{{ $name := "Victor Kataev" }}
{{ $email := "kataev.victor.1234@gmail.com" }}

{{ if stdinIsATTY }}
{{   $name = promptString "Name" $name }}
{{   $email = promptString "Email" $email }}
{{ end }}

[data]
	name = {{ $name | quote }}
	email = {{ $email | quote }}
